{%  extends 'base.html' %}
{% block title %} Update Student {%  endblock %}
{%  block content %}
    <div class="row">
    <div class="col-md-6 offset-md-3">
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Update</button>
    </form>

{%  endblock %}
