{% extends 'base.html' %}
{% block title %} Lists of students {% endblock %}

{% block content %}
    <h1>Lists of students</h1>
    {% for student in all_students %}
        {% if student.age >= 40 %}
            <p>{{ student.first_name }}</p>
            <p>{{ student.last_name }}</p>
            <p>{{ student.age }}</p>
        {% endif %}
    {% endfor %}
    <a href="{% url 'masini' %}" class="btn btn-primary">Go to masini</a>
{% endblock %}



