{% extends 'base.html' %}
{% block title %} Lista de masini {% endblock %}
{% block content %}
    <h1>Lista de masini</h1>
    {% for masina in masini %}
        {% if masina.culoare != 'Rosu' %}
            <p>{{ masina.marca }}</p>
            <p>{{ masina.motorizare }}</p>
            <p>{{ masina.cilindree }}</p>
            <p>{{ masina.culoare }}</p>
        {% endif %}

    {% endfor %}
    <a href="{% url 'list_of_students' %} " class="btn btn-primary">Go to Lists of students</a>
{% endblock %}


