{% extends 'base.html' %}
{%  block title %} Reset Password {% endblock %}
{%  block content %}
    <form method="POST">
    {%  csrf_token %}
    {{  form.as_p }}
    <button type="submit" class="btn btn-primary">Reset Password</button>


    </form>


{% endblock %}
