{%  extends 'base.html' %}
{% block title %} Create User {% endblock %}
{% block content %}
    <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Register User</button>
    </form>
{% endblock %}