<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" >
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Django Project</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{%  url 'homepage' %}">Home</a>
        </li>
     {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Students
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if perms.student.add_student %}
            <li><a class="dropdown-item" href="{% url 'create-student' %}">Create a new student</a></li>
              {% endif %}
             {% if perms.student.view_list_of_student %}
            <li><a class="dropdown-item" href="{%  url 'list-of-students' %}">List of students</a></li>
             {% endif %}
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Teachers
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {%  if perms.teacher.add_teacher %}
            <li><a class="dropdown-item" href="{% url 'create-teacher' %}">Create a new teacher</a></li>
              {% endif %}
              {% if perms.teacher.view_teacher %}
            <li><a class="dropdown-item" href="{%  url 'list-of-teachers' %}">List of teacher</a></li>
              {% endif %}
          </ul>
        </li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            List of teachers
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
             {% for teacher in teachers %}
                 <li><a class="dropdown-item" href="{%  url 'student-per-teachers' teacher.id %}">{{ teacher.first_name }} {{ teacher.last_name }}</a></li>
              {% endfor %}
          </ul>
        </li>
                 </li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            List of Courses
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
             {% for course in courses %}
                 <li><a class="dropdown-item" href="{% url 'teacher-per-coursers' course.teacher_id %}">{{ course.name }} </a></li>
              {% endfor %}
          </ul>
        </li>
     {% endif %}
      </ul>
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="btn btn-success">Logout, {{ request.user.username }}</a>
        {%  else%}
      <a href="{%  url 'create-user' %}" class="btn  btn-primary">Sign up</a>
        <a href="{%  url 'login' %}" class="btn  btn-success">Login</a>
        {% endif %}
    </div>
  </div>
</nav>
<div class="container-fluid">
{% block content %}{% endblock %}
</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
</html>